<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>
<div class=" container">
  <div>
    <h1>CONSUMO DE MIRCROSERVICIO REST CON ANGULAR (CRUD)</h1>
    <br>
  </div>
</div>
<div class="col-md-12" style="text-align: center;">
  <div class="d-grid gap-4 d-md-block mb-2">
    <button (click)="listar()" class="btn btn-primary" type="button">Listar</button>
    <button style="margin-left: 8px;" (click)="add()" class="btn btn-success" type="button">Agregar</button>
  </div>
</div>
<router-outlet></router-outlet>
