<div class="container col-md-6">
  <div class="car">
    <div class="card-header">
      <h2>MODULO AGREGAR PERSONA</h2>
    </div>
    <div class="card-body">
        <form action="">
          <div class="form-group">
            <label>Nombres</label>
            <input [(ngModel)]="modelPersona.nombre" name="nombre" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Telefono</label>
            <input [(ngModel)]="modelPersona.telefono" name="telefono" type="text" class="form-control">
          </div>
          <div style="margin-top: 20px;">
            <button (click)="Guardar(modelPersona)" class="btn btn-success">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>